{
  "ignorePatterns": [
    "node_modules",
    "dist"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "html",
    "vue"
  ],
  "extends": [
    "standard",
    "plugin:vue/recommended"
  ]
}
