@import "./common/logo";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .heading {
    color: var(--green-dark);
    font-weight: var(--bold);
    font-size: var(--large);
    line-height: 1;
    text-align: center;
  }

  .colors {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    .color {
      display: flex;
      align-items: center;
      font-size: var(--small);
    }

    .color + .color {
      margin-left: 30px;
    }

    .color.icon-circle::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background-color: currentColor;
      border-radius: 50%;
      content: "";
    }
  }
}

.test {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  background: url(hogehoge/aaa.png);
}
